html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	background: darkgray;
}

#gameWindow {
	position: absolute;
	background: darkgray;
	margin-top: 100px;
	margin-left: 12.5%;
	display: block;
	cursor: pointer;
}

#logo, #logo:hover {
    height: 50px;
    width: 50px;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
	background-color: #7d7d7d;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #7d7d7d;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #7d7d7d;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #d5d5d5;
}

.simForm {
	display: block;
    //border: 2px solid #d5d5d5;
    height: 200px;
    width: 360px;
	//margin-left: 15px;
    margin-top:300px;
    //padding-top:10px;
    //background-color: #7d7d7d;
    //border-bottom-right-radius: 4px;
    //border-top-right-radius: 4px;
	float: left;
}

.simForm label {
    width: 50%;
    margin-left: 5%;
	margin-bottom: 5px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.simForm input[type=text] {
	margin-left: 5%;
	margin-bottom: 20px;
    float:left;
	width: 50%;
}

.makeSimButton {
	position: absolute;
    transition: background-color 0.4s ease;
    display: block;
    margin-top: 250px;
    font-size: 1.2em;
    width: 135px;
    background-color: #7d7d7d;
    border-radius: 2px;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
}

#simRestart{
	position: absolute;
    transition: background-color 0.4s ease;
    display: block;
    margin-top: 250px;
    font-size: 1.3em;
    width: 150px;
    background-color: #7d7d7d;
    border-radius: 2px;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    padding: 5px;
	text-align: center;
}

#simRestart:hover{
	background-color: #d5d5d5;
}

#simPauseButton{
	display: block;
	position: absolute;
	z-index: 5;
	top: 150px;
	float: left;
	left: 30px;
}

#simPaintButton{
	display: block;
	position: absolute;
	z-index: 5;
	top: 200px;
	float: left;
	left: 30px;
}

#simEraseButton{
	display: block;
	position: absolute;
	z-index: 5;
	top: 200px;
	float: left;
	left: 130px;
}

#simClearButton{
	display: block;
	position: absolute;
	z-index: 5;
	top: 150px;
	float: left;
	left: 120px;
}

.makeSimButton:link, .makeSimButton:visited, .makeSimButton:hover, .makeSimButton:active {
    color: white;
	
}

.makeSimButton:hover {
    transition: background-color 0.4s ease;
    background-color: #d5d5d5;
}

#setups{
	display: block;
	position: absolute;
	float: left;
	top: 335px;
	left: 25px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #7d7d7d;
    border-radius: 2px;
    padding: 3px 0px;
    color: black;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #4a949;
}

.mainForm {
    height: 125px;
    width: 350px;
    margin: 0 auto;
	margin-top: 330px;
    padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
    font-size: 1.2em;
	background-color: #7d7d7d;
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
	border: 2px solid #4a949;
}

.mainForm h3 {
    text-align: center;
	
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #7d7d7d;
}

#errorMessage {
    display:none;
    top: 600px;
    width: 20%;
    height: 50px;
    position: absolute;
    z-index: 5;
    overflow: hidden;
	left: 40%;
	text-align: center;
	font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#simErrorMessage {
    display:none;
    top: 700px;
    width: 200px;
    height: 50px;
    position: absolute;
    z-index: 5;
    overflow: hidden;
	left: 15px;
	text-align: center;
	font-size: 1em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}



#historyList {
    width: 10%;
	float: right;
    border: 2px solid #7d7d7d;
    border-radius: 4px;
    margin: 0 auto;
    //margin-top: 50px;
	margin-right: 25px;
	background-color: white;
	max-height: 750px;
	overflow-y: auto;
	overflow-x: hidden;
}

.historyItem {
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #7d7d7d;
    border-radius: 4px;
    background-color: #7d7d7d;
    padding: 10px;
    min-height: 60px;
    overflow: hidden;
}

.historyItem:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #d5d5d5;
}

h3.emptyHistory {
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

p.rule {
    float: left;
    font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}