extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block scripts
        script(src="/assets/maker.js")
block body
  nav(class="navlink")
    a(href="/login") C-GOL
    a(href="/logout", style="float: right; margin-right: 100px;") Log out
    a(href="/setup") Start New Sim
  section#domos
    if !sims || sims.length == 0
        div.domo
            h3.emptyDomo No Simulations Have Been Done Yet
    else
        each val, index in sims.reverse()
            div.domo
                h3.domoName Lower Limit: #{val.ruleDieL}
                h3.domoAge Upper Limit: #{val.ruleDieH}
                h3.domoLvl Revive Requirement: #{val.ruleBirth}