extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block scripts
        script(src="/assets/maker.js")
block body
  nav(class="navlink")
    a(href="/login")
      img#logo(src="/assets/img/logo.png", alt="logo")
    a(href="/logout", style="float: right; margin-right: 100px;") Log out
    a(href="/setup") Create New Game
  section#historyList
    if !sims || sims.length == 0
        div.history
            h3.emptyHistory No Simulations Have Been Done Yet
    else
        each val, index in sims.reverse()
            div.historyItem(onclick="repeatHistorySim("+val.ruleDieL+","+val.ruleDieH+","+val.ruleBirth+","+"\"#{csrfToken}\""+");")
                h3.rule1 Lower Limit: #{val.ruleDieL}
                h3.rule3 Revive Requirement: #{val.ruleBirth}
                h3.rule2 Upper Limit: #{val.ruleDieH}