extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block scripts
        script(src="/assets/maker.js")
block body
  nav(class="navlink")
    a(href="/login")
      img#logo(src="/assets/img/logo.png", alt="logo")
    a(href="/logout", style="float: right; margin-right: 100px;") Log out
    a(href="/history") User History
  section#makeSim
    form#simSetupForm(class="simForm", name="simForm", action="/setup", method="POST")
      label(for="ruleDieL") Lower bound for Cell Death:
      input#rule1(type="text", name="ruleDieL", placeholder="Cells die with fewer neighbors")
      label(for="ruleDieH") Upper Bound for Cell Death:
      input#rule2(type="text", name="ruleDieH", placeholder="Cells die with more neighbors")
      label(for="ruleBirth") For Cell revival:
      input#rule3(type="text", name="ruleBirth", placeholder="Cells revive with this many neighbors")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#makeSimButton(class="makeSimButton", href="#") Create Simulation
    h3
      span#errorMessage