extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
    link(rel="stylesheet", type="text/css", href="/assets/appStyle.css")
block scripts
        script(src="/assets/js/main.js")
        script(src="/assets/js/cell.js")
block body
  nav(class="navlink")
    a(href="/login") C-GOL
    a(href="/setup") Start New Sim
    a(href="/history") User History
    a(href="/logout", style="float: right; margin-right: 100px;") Log out
  a#simStart(class="makeDomoSubmit", onclick="app.main.init("+ sims[sims.length-1].ruleDieL +","+ sims[sims.length-1].ruleDieH +","+ sims[sims.length-1].ruleBirth +")", href="#") Start Sim
  section
    canvas#gameWindow
